.page-container {
  background-color: black;
}

.header {
  display: flex;
  justify-content: center;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: 97vh;
  margin: 0px;
}

.video-display {
  border: solid white 1px;
}

.button-link {
  background: none !important;
  border: none;
  margin-left: 1px;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
